$color-text: #121212;
$color-text-light: #525252;

$color-grey-dark: #1f1f1f;
$color-grey-light: #a3a3a3;

$color-white: #ffffff;
$color-black: #202020;

$color-hover: #78ff55;

$default-font-size: 1.6rem;
