.sign-up {
  padding: 1.4rem 2.2rem 2.2rem;
  margin-bottom: 2.9rem;
  background-color: #e3e3e3;
  border: 1px solid #707070;
  border-radius: 3px;
  box-shadow: 0 0 0.6rem rgba($color-black, 0.35);

  @include respond(desktop-s) {
    width: 45%;
    margin-right: 5%;
    margin-bottom: 0;
  }

  @include respond(phone-m) {
    display: none;
  }

  &__heading {
    position: relative;
    font-family: 'Oswald', sans-serif;
    font-size: 2.8rem;
    margin: 0;
    margin-bottom: 1px;
    padding-left: 1.2rem;
    padding-bottom: 1.2rem;
    border-bottom: 1px solid $color-grey-light;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      width: 100%;
      height: 1px;
      background-color: #e4e4e4;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
  }

  &__input {
    margin-top: 1.1rem;
    padding: 1.9rem 0 1.4rem 1.5rem;
    font-size: $default-font-size;
    color: $color-grey-light;
    background-color: #eee;
    border: 1px solid #e4e4e4;
    outline: 1px solid $color-grey-light;

    @include respond(desktop) {
      font-size: 1.3rem;
      padding: 1.3rem 0 1.3rem 1.5rem;
    }

    &:hover {
      outline: 1px solid $color-hover;
    }
  }

  &__info {
    font-size: 1.1rem;
    color: #101010;
    text-align: center;
  }

  &__link {
    color: inherit;
  }

  &__btn {
    align-self: flex-end;
    width: 13.7rem;
    padding-bottom: 2px;
    border: 1px solid #707070;
    border-radius: 9px;
    background-color: #d6d6d6;

    @include respond(desktop) {
      width: 10rem;
    }
  }

  &__button {
    align-self: flex-end;
    width: 13.7rem;
    color: #949494;
    font-weight: bold;
    font-size: 1.5rem;
    padding: 1.2rem 0 0.9rem;
    border: none;
    border-radius: 9px;
    cursor: pointer;

    @include respond(desktop) {
      width: 10rem;
      font-size: 1.3rem;
      padding: 1rem 0 0.5rem;
    }
  }
}
