/*
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}*/

html {
  font-size: 62.5%; //1rem = 10px  10px/16px = 62.5%

  @include respond(tab) {
    font-size: 56.25%; //1rem = 9px  9px/16px = 56.25%
  }

  @include respond(tab) {
    font-size: 62.5%; //1rem = 9px  9px/16px = 56.25%
  }
}

body {
  font-family: 'Arial', sans-serif;
  font-weight: 400;
  color: $color-grey-dark;
  box-sizing: border-box;
  margin: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}
